{% extends "layouts/_default.twig" %}

{% block pageName %}View all images{% endblock %}

{% block main_content %}
<div class='bg'>
        <div class='content'>
            {% for image in images %}
                <div class='column'>
                    <div class='top'>
                        <a href="/images/{{ image.id }}">
                            <img src="/images/{{ image.id }}{{ image.extension }}" alt="image">
                        </a>
                    </div>

                    <div class='middle'>
                        <h1>
                            <a href="/images/{{ image.id }}">{{ image.Variant.title }}</a>
                        </h1>
                    </div>

                    <div class='bottom'>
                        <p> {{ image.description }}</p>
                        <ul>
                            <li>
                                <a href="/images/{{ image.id }}">Show</a> 
                                <a href="/images/{{ image.id }}/edit">Edit</a>             
                                <a href="/images/{{ image.id }}/delete">Delete</a>
                            </li>
                        </ul>
                    </div>
                </div>
            {% endfor %}
            <div class='column'>
                <div class='top'>
                    <a href="/images/new">
                        <img src='/images/pngwing.com.png' alt="galaxy">
                    </a>
                </div>

                <div class='middle'>
                    <h1>
                        <a href="/images/new">Add A New Image</a>
                    </h1>
                </div>

                <div class='bottom'>
                </div>
            </div>
        </div>
    </div>
{% endblock %}